Repository Z2PackDev/TBmodels: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, interpolate-workflows

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true
  args: []

interpolate-workflows:
  name: Interpolate Github workflows
  entry: python ./utils/interpolate_yaml_anchors.py
  language: system
  pass_filenames: false

Use the rounded `new_R` values in `change_unit_cell`.
  tbmodels/_tb_model.py
Due: pylint, mypy

Make type hints compatible with numpy 1.20.
  mypy.ini
  pytest.ini
  setup.cfg
  tbmodels/_tb_model.py
  tbmodels/helpers.py
  tbmodels/kdotp.py
Due: pylint, mypy

Drop support for Python 3.6.
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  setup.cfg
Due: interpolate-workflows

Fix pylint issue.
  tbmodels/_tb_model.py
Due: pylint, mypy

Add an option to change the orbital order when folding.
  setup.cfg
  tbmodels/_tb_model.py
  tests/test_folding.py
Due: pylint, mypy

Add test for error raised when `order_by` input is invalid.
  tests/test_folding.py
Due: pylint, mypy

Add an option to change the orbital order when folding. (#101)
  setup.cfg
  tbmodels/_tb_model.py
  tests/test_folding.py
Due: pylint, mypy

Bump fsc.hdf5-io requirement to 1.0.1, to be compatible with h5py.
  setup.cfg
Due: none

Bump fsc.hdf5-io requirement to 1.0.1, to be compatible with h5py. (#102)
  setup.cfg
Due: none

RELEASE: Bump version to 1.4.2.
  tbmodels/__init__.py
Due: pylint, mypy

RELEASE: Bump version to 1.4.2. (#103)
  tbmodels/__init__.py
Due: pylint, mypy

Limit find_packages to 'tbmodels' and 'tbmodels.*'.
  setup.cfg
Due: none

Limit find_packages to 'tbmodels' and 'tbmodels.*'. (#104)
  setup.cfg
Due: none

Allow passing a specific sublattice to ``add_hoppings_kwant``.
  tbmodels/_tb_model.py
Due: pylint, mypy

Allow passing a specific sublattice to ``add_hoppings_kwant``. (#105)
  tbmodels/_tb_model.py
Due: pylint, mypy

RELEASE: Bump version to `1.4.3`.
  tbmodels/__init__.py
Due: pylint, mypy

RELEASE: Bump version to `1.4.3`. (#106)
  tbmodels/__init__.py
Due: pylint, mypy

Add # as an indicator of comments in addition to !
  tbmodels/_tb_model.py
Due: pylint, mypy

Update and fix pre-commit hooks
  .github/workflows/ci.yml
  mypy.ini
  setup.cfg
  tbmodels/_tb_model.py
  tbmodels/helpers.py
  tbmodels/kdotp.py
Due: pylint, mypy, interpolate-workflows

Add Python 3.9 to pipelines
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Add parser for seedname_tb.dat
  examples/silicon/read_tb.py
  tbmodels/_tb_model.py
Due: pylint, mypy

Fix pymatgen imports in symmetrization example
  doc/source/symmetrize.rst
Due: none

Remove kwant from testing due to broken pip install
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  setup.cfg
  tests/requirements_test.txt
  tests/test_to_kwant.py
Due: pylint, mypy, interpolate-workflows

Fix usage of xfail
  clean
  tests/test_to_kwant.py
Due: pylint, mypy

Ignore kwant import error in pylint
  tbmodels/_tb_model.py
Due: pylint, mypy

Fix doc options in CI
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  doc/source/conf.py
  doc/source/symmetrize.rst
Due: interpolate-workflows

Remove READTHEDOCS from docs build env
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  doc/source/conf.py
Due: interpolate-workflows

Remove run on push
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Fix symmetry-representation intersphinx link
  doc/source/conf.py
Due: none

Add test for tb.dat
  examples/silicon/.gitignore
  examples/silicon/read_tb.py
  tbmodels/_tb_model.py
  tests/regression_data/test_wannier/test_wannier_tb_wsvec
  tests/samples/silicontb_tb.dat
  tests/samples/silicontb_wsvec.dat
  tests/test_wannier.py
Due: pylint, mypy

Pin click, astroid for pre-commit
  .pre-commit-config.yaml
  setup.cfg
Due: none

[WIP] convert to poetry build
  .ci/install_script.sh
  .ci/test_script.sh
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  .pre-commit-config.yaml
  .pylintrc
  clean
  clean.sh
  doc/source/conf.py
  doc/source/symmetrize.rst
  examples/silicon/.gitignore
  mypy.ini
  poetry.lock
  pyproject.toml
  setup.cfg
  src/tbmodels/__init__.py
  src/tbmodels/_check_compatibility.py
  src/tbmodels/_cli.py
  src/tbmodels/_legacy_decode.py
  src/tbmodels/_sparse_matrix.py
  src/tbmodels/_tb_model.py
  src/tbmodels/exceptions.py
  src/tbmodels/helpers.py
  src/tbmodels/io.py
  src/tbmodels/kdotp.py
  src/tbmodels/py.typed
  tests/test_folding.py
  tests/test_hr_print.py
  tests/test_wannier.py
Due: pylint, mypy, interpolate-workflows

Reduce project target to 95
  .codecov.yml
Due: none

Use poetry for install on RTD
  .readthedocs.yml
Due: none

Use poetry for install on RTD, add dependabot (#119)
  .readthedocs.yml
Due: none

Add dependabot config
  .github/dependabot.yml
Due: interpolate-workflows

Add dependabot config (#120)
  .github/dependabot.yml
Due: interpolate-workflows

Widen dependency for symmetry-representation
  pyproject.toml
Due: none

Widen dependency for symmetry-representation (#121)
  pyproject.toml
Due: none

Fix pylint issues
  .pylintrc
  tests/conftest.py
Due: pylint, mypy

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/)|(examples/)|(playground/)|(utils/)
  mypy: any of: \.py$, but not: ^(doc/)|(examples/)|(playground/)
  interpolate-workflows: any of: (?x)^(
  .github/(.)*|
  utils/interpolate_yaml_anchors.py
)$

