Repository Z2PackDev/TBmodels: changes, and which pre-commit hooks are due for each by the changed paths.
All: pylint, mypy, interpolate-workflows

pylint:
  name: pylint
  entry: pylint
  language: system

mypy:
  name: mypy
  entry: mypy
  language: python
  require_serial: true
  args: []

interpolate-workflows:
  name: Interpolate Github workflows
  entry: python ./utils/interpolate_yaml_anchors.py
  language: system
  pass_filenames: false

Fix typo in docstring
  src/tbmodels/_tb_model.py
Due: pylint, mypy

Loosen mypy requirement
  poetry.lock
  pyproject.toml
Due: none

Add pip update to install_script
  .ci/install_script.sh
Due: none

Update lockfile
  poetry.lock
Due: none

Loosen mypy requirement (#147)
  .ci/install_script.sh
  poetry.lock
  pyproject.toml
Due: none

Update setup-python action
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Add github-actions to dependabot config
  .github/dependabot.yml
Due: interpolate-workflows

Update lockfile, pythtb version
  .ci/install_script.sh
  poetry.lock
  pyproject.toml
Due: none

Workaround for pythtb syntax warnings
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Update lockfile, pythtb version (#159)
  .ci/install_script.sh
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
  poetry.lock
  pyproject.toml
Due: interpolate-workflows

Update setup-python action (#160)
  .github/workflows/ci.yml
  .github/workflows_source/ci.yml
Due: interpolate-workflows

Update lockfile (#171)
  poetry.lock
Due: none

Adapt dependabot configuration
  .github/dependabot.yml
Due: interpolate-workflows

Adapt dependabot configuration (#202)
  .github/dependabot.yml
Due: interpolate-workflows

Update dependabot configuration
  .github/dependabot.yml
Due: interpolate-workflows

Update dependabot configuration (#203)
  .github/dependabot.yml
Due: interpolate-workflows

Revert "Update dependabot configuration (#203)"
  .github/dependabot.yml
Due: interpolate-workflows

Revert "Update dependabot configuration (#203)" (#208)
  .github/dependabot.yml
Due: interpolate-workflows

Path conditions:
  pylint: any of: \.py$, but not: ^(doc/)|(examples/)|(playground/)|(utils/)
  mypy: any of: \.py$, but not: ^(doc/)|(examples/)|(playground/)
  interpolate-workflows: any of: (?x)^(
  .github/(.)*|
  utils/interpolate_yaml_anchors.py
)$

